<!DOCTYPE html>>
<title>Submit your samples here</title>

<body>
    <h1>Add your samples here!</h1>
<form action ="#" method = 'POST'>
    <p>Lot Number:</p>
        <input type ='text' size = '50' name = 'lotnumber'>
    <p>Sample Name:</p>
        <input type = 'text' size = '50' name ="samplename">

    <p>Chemist/Developer:</p>
        <input type ='text' size = '50' name ='name'>
    
    <p>Submission Date</p>
        <input type = "text" size = '50' name ='submission'>

    <p>Tests Required/Details</p>
        <input type ='text' size = '100' name ='tests'>

</br>
</br>

<div>
    <input type ='submit' value = 'submit'><br>

</div>

</form>
</body>
</html>