{% extends "base.html" %}
{% block title %}View Samples Here{% endblock %}
{% block content %}
<h1 style ='text-align:center;'>All current Samples</h1>

<div class = 'container'>
    <table class = 'table table-hover'>
        <thead>
            <tr>
                <td>Lot Number</td>
                <td>Sample Name</td>
                <td>Developer Name</td>
                <td>Date Submitted</td>
                <td>Tests</td>
                <td>Other Instructions</td>
                <td>Edit</td>
                <td>Delete</td>

            </tr>
        </thead>
        <tbody>
            <tr>
                {% for s in Samples %}
                <td>{{s.lotnumber}}</td>
                <td>{{s.samplename}}</td>
                <td>{{s.devname}}</td>
                <td>{{s.samplesubmitdate}}</td>
                <td>{{s.testsreq}}</td>
                <td>{{s.other}}</td>
                

            </tr>
        </tbody>
        
  {% endfor %}
  {% endblock %}
    </html>
    </table>
</div>